# Database Configuration (Supabase PostgreSQL in Production / Local PostgreSQL in Development)
# Production Format: jdbc:postgresql://<EXACT-SUPABASE-POOLER-HOST>:5432/postgres?sslmode=require
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT Security
JWT_SECRET=
JWT_EXPIRATION=

# File Storage Configuration
FILE_STORAGE_URL=
FILE_STORAGE_KEY=
FILE_STORAGE_SECRET=
