# Database Configuration (Supabase PostgreSQL in Production / Local PostgreSQL in Development)
# Production Session Pooler on Port 5432:
DB_URL=jdbc:postgresql://aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres?sslmode=require
DB_USERNAME=postgres.zmfyysjojvshleibvgjs
DB_PASSWORD=

# JWT Security
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=604800000

# File Storage Configuration
FILE_STORAGE_URL=uploads/
FILE_STORAGE_KEY=
FILE_STORAGE_SECRET=
